<div class="container">
    <div class="row">
        <div class="col-6">
            <img class="poster" src="{{ film.poster }}" />
        </div>
        <div class="col-6">
            <h2>{{ film.name }}</h2>
            <p><strong *ngIf="film.releaseDate">Fecha de estreno:</strong> {{ film.releaseDate }}</p>
            <p><strong *ngIf="film.description">Sinopsis:</strong> {{ film.description }}</p>
        </div>
    </div>
</div>