<footer class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ title }}</h5>
                    <p class="card-text">{{ copyright }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>