.film {
    margin-bottom: 20px;
}

.poster {
    width: 100%;
}

.info {
    text-align: center;
}

h1 {
    margin: 20px 0;
}

h4 {
    margin: 10px 0;
    color: #202020;
    text-transform: uppercase;
}