<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1>Lista de Películas</h1>
        </div>
        <div class="col-3 film" *ngFor="let film of filmArray">
            <a routerLink="detail/{{ film.id }}">
                <div class="info">
                    <img class="poster" src="{{ film.poster }}" />
                    <h4>{{ film.name }}</h4>
                </div>
            </a>
        </div>
    </div>
</div>