<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" title="{{ title }}" routerLink=""><img src="../../../assets/logo.png"></a>
    </div>
</nav>